In [6]:
import pandas as pd
url='https://raw.githubusercontent.com/DataScience75/Top_mentor_projects_Datasets/main/titles.csv'

title=pd.read_csv(url)
print(title.head())

                     title  year
0           The Rising Son  1990
1  The Thousand Plane Raid  1969
2         Crucea de piatra  1993
3                  Country  2000
4               Gaiking II  2011

In [11]:
### How many movies are listed in the titles dataframe?
t=title.copy()
t['title'].count()

230620

In [20]:
### What are the earliest two films listed in the titles dataframe?
t=t.sort_values('year')
print(t.head(2))

                     title  year
176477          Miss Jerry  1894
213694  The Startled Lover  1898

In [25]:
### How many movies have the title \"Hamlet\"?
print(len(t[t['title']=='Hamlet']))

18

In [28]:
###How many movies are titled \"North by Northwest\"?
print(len(t[t['title']=='North by Northwest']))

1

In [31]:
#When was the first movie titled \"Hamlet\" made?
print((t[t['title']=='Hamlet']).head(1))

        title  year
46365  Hamlet  1910

In [32]:
### List all of the \"Treasure Island\" movies from earliest to most recent.
print((t[t['title']=='Treasure Island']))

                  title  year
204540  Treasure Island  1918
50896   Treasure Island  1920
189691  Treasure Island  1934
96259   Treasure Island  1950
59186   Treasure Island  1972
110576  Treasure Island  1973
203909  Treasure Island  1985
178072  Treasure Island  1999

In [34]:
### How many movies were made in the year 1950?
print(len(t[t['year']==1950]))

1093

In [35]:
## How many movies were made in the year 1960?
print(len(t[t['year']==1960]))

1496

In [37]:
## How many movies were made from 1950 through 1959?
print(len(t[(t['year'] >= 1950) & (t['year'] <= 1959)]))

12656

In [38]:
## In what years has a movie titled \"Batman\" been released?
print(t[t['title']=="Batman"])

        title  year
74047  Batman  1943
55577  Batman  1989

In [1]:
#cast dataframe
import pandas as pd
cas='C:/Users/mohda/Downloads/cast.csv'
cast=pd.read_csv(cas)
print(cast.head())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [2]:
#copy of main data
# How many roles were there in the movie \"Inception\"?
c=cast.copy()
inception_roles = c[c['title'] == 'Inception']['character']
num_roles = len(inception_roles.unique())
print(num_roles)

55

In [11]:
# How many roles in the movie "Inception" are NOT ranked by an "n" value?
without_rank=len(c[(c['title'] == 'Inception') & (c['n'].isna())])
print(without_rank)

26

In [12]:
# But how many roles in the movie "Inception" did receive an "n" value?
with_rank=num_roles-without_rank
print(with_rank)

29

In [26]:
### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a 
##numeric "n" value.
north_cast = c[(c['title'] == 'North by Northwest') & (c['n'].isna())]
d=c.fillna(0)
e=d[d['n']!=0]
e.sort_values(by='n')
print(e)

                                                     title  year  \
1                                          Suuri illusioni  1985
2                                      Battle of the Sexes  2017
8        Lapis, Ballpen at Diploma, a True to Life Journey  2014
10                                 When the Man Went South  2014
11                                 Little Angel (Angelita)  2015
...                                                    ...   ...
3611206                                     Stuttur Frakki  1993
3611207                                            Foxtrot  1988
3611208                   Niceland (Population. 1.000.002)  2004
3611209                                          Skammdegi  1985
3611210                                       U.S.S.S.S...  2003

                                name     type               character     n
1                             Homo $    actor                  Guests  22.0
2                            $hutter    actor         Bobby Riggs Fan  10.0
8          Jori ' Danilo' Jurado Jr.    actor           Jaime (young)   9.0
10                Taipaleti 'Atu'ake    actor  Two Palms - Ua'i Paame   8.0
11        Michael 'babeepower' Viera    actor                   Chico   9.0
...                              ...      ...                     ...   ...
3611206    Sveinbj?rg ??rhallsd?ttir  actress              Flugfreyja  24.0
3611207            Lilja ??risd?ttir  actress                    D?ra  24.0
3611208    Sigr??ur J?na ??risd?ttir  actress            Woman in Bus  26.0
3611209           Dalla ??r?ard?ttir  actress           Hj?krunarkona   9.0
3611210  Krist?n Andrea ??r?ard?ttir  actress  Afgr.dama ? bens?nst??  17.0

[2231970 rows x 6 columns]

In [30]:
### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".
a=c[(c['title']=="Sleuth")&(c['year']==1972)]
b=a.sort_values(by='n')
print(b)

          title  year                name     type  \
1644328  Sleuth  1972    Laurence Olivier    actor
314691   Sleuth  1972       Michael Caine    actor
360365   Sleuth  1972      Alec Cawthorne    actor
1412647  Sleuth  1972  John (II) Matthews    actor
2619278  Sleuth  1972  Eve (III) Channing  actress
1396572  Sleuth  1972        Teddy Martin    actor

                          character    n
1644328                 Andrew Wyke  1.0
314691                  Milo Tindle  2.0
360365            Inspector Doppler  3.0
1412647  Detective Sergeant Tarrant  4.0
2619278             Marguerite Wyke  5.0
1396572      Police Constable Higgs  6.0

In [32]:
### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".
d=c[(c['title']=="Sleuth")&(c['year']==2007)]
e=a.sort_values(by='n')
print(e)

          title  year                name     type  \
1644328  Sleuth  1972    Laurence Olivier    actor
314691   Sleuth  1972       Michael Caine    actor
360365   Sleuth  1972      Alec Cawthorne    actor
1412647  Sleuth  1972  John (II) Matthews    actor
2619278  Sleuth  1972  Eve (III) Channing  actress
1396572  Sleuth  1972        Teddy Martin    actor

                          character    n
1644328                 Andrew Wyke  1.0
314691                  Milo Tindle  2.0
360365            Inspector Doppler  3.0
1412647  Detective Sergeant Tarrant  4.0
2619278             Marguerite Wyke  5.0
1396572      Police Constable Higgs  6.0

In [37]:
### How many roles were credited in the silent 1921 version of Hamlet?
hamlet_roles = c[(c['title'] == 'Hamlet') & (c['year']==1921)]['character']
roles = len(hamlet_roles.unique())
print(roles)

9

In [7]:
### How many roles were credited in Branagh’s 1996 Hamlet?
hamlet_roles1 = c[(c['title'] == 'Hamlet') & (c['year']==1996)]

print(len(hamlet_roles1))

54

In [14]:
##How many "Hamlet" roles have been listed in all film credits through history?
print(len(c[c['character']=='Hamlet']))

91

In [15]:
### How many people have played an "Ophelia"?
print(len(c[c['character']=="Ophelia"]))

111

In [16]:
## How many people have played a role called "The Dude"?
print(len(c[c['character']=="The Dude"]))

18

In [17]:
## How many people have played a role called "The Stranger"?
print(len(c[c['character']=="The Stranger"]))

208

In [19]:
# How many roles has Sidney Poitier played throughout his career?
print(len(c[c['name']=="Sidney Poitier"]))

43

In [20]:
## How many roles has Judi Dench played?
print(len(c[c['name']=="Judi Dench"]))

55

In [29]:
# List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

c[(c['name']=='Cary Grant') & (c['year']>=1940) & (c['n']==2)]

                   title  year        name   type    character    n
840371  My Favorite Wife  1940  Cary Grant  actor         Nick  2.0
840381    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

In [35]:
# List the leading roles that Cary Grant played in the 1940s in order by year.

print((c[(c['name']=='Cary Grant') & (c['year']>=1940)& (c['year']<=1949)]).sort_values(by='year'))

,title,year,name,type,character,n
840399,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
840397,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
840353,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
840371,My Favorite Wife,1940,Cary Grant,actor,Nick,2.0
840386,Suspicion,1941,Cary Grant,actor,Johnnie,1.0
840381,Penny Serenade,1941,Cary Grant,actor,Roger Adams,2.0
840401,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
840377,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
840344,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
840369,Mr. Lucky,1943,Cary Grant,actor,Joe Adams,1.0
840370,Mr. Lucky,1943,Cary Grant,actor,Joe Bascopolous,1.0
840336,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
840378,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
840373,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
840351,George White's Scandals,1945,Cary Grant,actor,Cary Grant,NaN
840372,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
840375,Notorious,1946,Cary Grant,actor,Devlin,1.0
840415,Without Reservations,1946,Cary Grant,actor,Cary Grant,NaN
840393,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
840394,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
840368,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
840348,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
840357,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

In [36]:
# How many roles were available for actors in the 1950s?
print(len(c[(c['type']=='actor') & (c['year']>=1950) & (c['year']<=1959)]))

154727

In [44]:
# How many roles were available for actresses in the 1950s?

print(len(c[(c['type']=='actress') & (c['year']>=1950) & (c['year']<=1959)]))

56259

In [46]:
(c['type']).unique()

array(['actor', 'actress'], dtype=object)

In [4]:
# How many leading roles (n=1) were available from the beginning of film history through 1980?
print(len(c[(c['n']==1) & (c['year']<=1980)]))

63924

In [5]:
# How many non-leading roles were available through from the beginning of film history through 1980?
print(len(c[(c['n']!=1) & (c['year']<=1980)]))

1094780

In [7]:
# How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?
print(len(c[(c['n'].isnull()) & (c['year']<=1980)]))

438086